# --- OS Files ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- IDEs and Editors ---
.idea/
.vscode/
*.swp
*.swo
.project
.settings/

# --- Environment Variables ---
.env
.env.*
!.env.example

# --- Root Level Node/Ruby ---
node_modules/
*.gem
/.bundle/
