<mat-toolbar>
  <button matIconButton class="example-icon" aria-label="Menu" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/products">
      <mat-icon>store</mat-icon>
      <span>Products</span>
    </button>
    <button mat-menu-item routerLink="/checkout">
      <mat-icon>shopping_cart</mat-icon>
      <span>Checkout</span>
    </button>
    @if (isAuthenticated) {
      <button mat-menu-item (click)="orders()">
          <mat-icon>receipt</mat-icon>
          <span>Orders</span>
      </button>
    }

    @if (isAuthenticated) {
      <button mat-menu-item (click)="manageSession()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    } @else {
      <button mat-menu-item (click)="manageSession()">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
    }


  </mat-menu>
  <span>Rails-Angular Shop</span>
  <img class="app-logo" ngSrc="/assets/angularlogo.jpg" alt="Logo" width="32" height="32" priority>
  <span class="example-spacer"></span>
  <app-cart-icon/>
</mat-toolbar>
